<div>
	<% if signed_in? %>
		<!-- remote: true is for AJAX -->
		<%= form_for([@product, @product.comments.build], remote: true) do |f| %>
		  <p>
		    <%= f.label :body, "Your review:" %><br>
		    <%= f.text_area :body %>
		  </p>
		  <div>
		  	<%= f.label :rating, "Your rating:" %>				<!--  f.text_field :rating, class: "rating form-control"
        The jquery plugin 'raty' only needs a class named rating in order to work -->
        <div class="rating"></div>
		  </div>
		  <br>
		  <p>
		    <%= f.submit "Submit" %>
		  </p>
		<% end %>
	<% end %>
</div>
