<p id="notice"><%= notice %></p>

<div class="container">
	<div class="row">
		<p id="title-product">
		  <% cache @product do %>
			  <strong>Name:</strong>
			  <%= @product.name %>
			<% end %>
		</p>
	</div>
	<div class="row">
		<p>
			<strong>Description:</strong>
			<% cache @product do %>
			  <%= @product.description %>
			<% end %>
		</p>
	</div>
	<div class="row img-responsive">
		<p>
		  <strong>Image url:</strong><br>
		  <% cache @product do %>
			  <%= image_tag(@product.image_url, width: "350", class: "img-zoom") %>
			<% end %>
		</p>
	</div>
	<div class="row">
		<p>
			<strong>Colour:</strong>
			<% cache @product do %>
				<%= @product.colour %>
			<% end %>
		</p>
	</div>
	<div class="row">
		<p>
			<strong>Price:</strong>
			<% cache @product do %>
				<%= @product.price %>
			<% end %>
		</p>
	</div>
	<div class="row">
		<%= form_tag "/payments/create" do %>
  	<%= render partial: "shared/stripe_checkout_button" %>
  	<%= hidden_field_tag(:product_id, @product.id) %>
		<% end %>
	</div>
	<div class="row">
		<p>
			<strong>Comments:</strong>
			<%= render partial: "new_comment" %>
 			<%= @product.comments %>
		</p>
	</div>
	<div class="row">
		<p>Average Raiting: <div class="rated" data-score="<%= @product.average_rating %>"></div> </p>
		<%= link_to 'Edit', edit_product_path(@product) %> |
		<%= link_to 'Back', products_path %>
	</div>
</div>

