<!DOCTYPE html>
<html>
<%= render 'layouts/head' %>

<body>
	<div class="container">
		<%= render 'layouts/nav' %>

		<div class="flash-notices">
		  <p class="notice text-info"><%= notice %></p>
		  <p class="alert text-danger"><%= alert %></p>
		</div><!-- flash-notices -->

		<nav>
		  <ul>
            <li>Home</li>
            <li>About</li>
            <li>Contact</li>
          </ul>
        </nav>

        <%= yield %>

        <footer>
          &copy; 2015 Bike Berlin
        </footer>

	</div><!-- container -->
</body>

</html>
